$color: red;
$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196F3;
$white-color: #FFFFFF;
$background-color: #F5F5F5;
$background-secondary: #F5F4FA;
$background-color-hero: #2F303A;
$color-logo: #000000;
$color-footer: rgba(255, 255, 255, 0.6);